@using MVC_Blog.Services
@inject IFileService _fileService
@model IEnumerable<Post>

@{
    ViewData["Title"] = "Landing Page";
}


@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" asp-route-id="@Model.FirstOrDefault().BlogId">Create New</a>
    </p>
}

    <div class="row">
        <div class="col">
            @foreach (var post in Model)
            {

                <div class="row">
                    <div class="col-12 col-md-4">
                        <img id="postImage" class="card-img-top img-fluid" src="@_fileService.DecodeImage(post.ImageData, post.ContentType)" />
                        <a class="btn btn-dark btn-block btn-sm" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">Read Full Post</a>
                    </div>
                    <div class="col col-md-8">
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">
                            <h2 class="post-title">@post.Title</h2>
                            <h3 class="post-subtitle">@post.Abstract</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            Josue Cedeno
                            on @post.Created.ToString("MMM dd, yyyy")
                        </p>
                    </div>
                </div>
                <hr />

            }
        </div>
    </div>
