@using MVC_Blog.Services
@inject IFileService _fileService
@model IEnumerable<Post>

@{
    ViewData["Title"] = "Landing Page";
}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var post in Model)
        {

            <div class="post-preview">
                <img id="blogImage" class="card-img-top img-fluid" src="@_fileService.DecodeImage(post.ImageData, post.ContentType)" />
                <a class="btn btn-dark btn-block btn-sm" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">Read Full Post</a>
                <a href="post.html">
                    <h2 class="post-title">@post.Title</h2>
                    <h3 class="post-subtitle">@post.Abstract</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    Josue Cedeno
                    on @post.Created.ToString("MMM dd, yyyy")
                </p>
            </div>

        }
    </div>
</div>